/* FULL PAGE */
.register-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        radial-gradient(circle at top left, rgba(37, 99, 235, 0.15), transparent 35%),
        radial-gradient(circle at bottom right, rgba(6, 182, 212, 0.12), transparent 35%),
        linear-gradient(135deg, #020617, #0f172a);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* REMOVE HEAVY BOX FEEL */
.register-box {
    width: 400px;
    padding: 35px 30px;
    border-radius: 18px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow: none;

    color: white;
    box-sizing: border-box;
}

/* LOGO */
.cloud-logo {
    width: 65px;
    height: 65px;
    margin: 0 auto 15px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2563eb, #06b6d4);
}

/* TITLE */
.title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}

/* SUBTITLE */
.subtitle {
    text-align: center;
    font-size: 13px;
    color: #94a3b8;
    margin-bottom: 25px;
    line-height: 1.5;
}

/* INPUT */
.input-group {
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    height: 42px;
    padding: 0 12px;
    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.03);

    color: white;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

/* FOCUS */
.input-group input:focus {
    border: 1px solid #38bdf8;
    background: rgba(255, 255, 255, 0.05);
}

/* PASSWORD ICON */
.password-group {
    position: relative;
}

.password-group span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

/* BUTTON (CLEAN, NO BOX FEEL) */
.register-btn {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* HOVER SIMPLE */
.register-btn:hover {
    background: #1d4ed8;
}

/* TEXT */
.register-para {
    margin-top: 18px;
    text-align: center;
    font-size: 13px;
    color: #cbd5e1;
}

.register-para a {
    color: #38bdf8;
    text-decoration: none;
}

.message {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  color: red;
}